venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

.env
.env.*

flask.out.log
flask.err.log
*.log

static/uploads/*
!static/uploads/.gitkeep
static/data/*
!static/data/.gitkeep

.DS_Store
Thumbs.db
